.cuadrado{
    width: 10rem;
    height: 33.3%;
}
.uno{
    display: flex;
    width: 90%;
    height: 40vh;
    margin: 0 auto;
    border: solid;
    border-color: black;
    flex-direction: column;
    align-items: flex-end;
}
.dos{
    display: flex;
    width: 30rem;
    height: 40vh;
    margin: 0 auto;
    border: solid;
    border-color: black;
    flex-direction: row-reverse;
    align-items: center;
}
.tres{
    display: flex;
    width: 90%;
    height: 40vh;
    margin: 0 auto;
    border: solid;
    border-color: black;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}